{% extends "::base.html.twig" %}

{% block body %}
  
  <h2>
    {{ 'New album'|trans }}
  </h2>
   <form action="#" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}

      <input type="submit" value="{{ 'Ajouter l\'album' | trans }}" />
  </form>
{% endblock %}
